@width: 80%;
@item-width: 100%;
#wrapper{
  width: @width;
  margin: 0 auto;
  min-height: 80%;
  position: relative;
  top:5em;
}
.doc_url{
	display: block;
	margin-bottom: 1em;
}
.btn-small{
    position: absolute;
	z-index: 12;
	padding: 0 .5em; 
    background: #0088ee;
    color: white;
    width: auto;
    height: 1.5em;
    border: none;
    text-align: center;
}
.btn-toggle-fullscreen{
	.btn-small;
    position: absolute;
    left:auto;
}
.btn-automate{
	.btn-small;
    position: absolute;
    left:auto;
    right:1em;
}
#story-indicator{
  display: none;
  position: absolute;
  left:0;
  bottom: 0;
  height: 1.5em;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  color: white;
}
.btn-play-control () {
  position: absolute;
  display: none;
  z-index: 11;
  height: 100%;
  opacity: .3;
  color: #0088ee;
  background: none;
  width: 20;
  border: none;
  font-size: 2em;
  outline: none;
  &:hover{
    opacity: 1;
  }
}
.btn-next {
  .btn-play-control;
  right:0;
}
.btn-prev {
  .btn-play-control;
  left:0;
}
#list-container{
  position: relative;
  width: 100%;
  margin: 0;
}
.node {
  cursor: pointer;
  stroke: black;
  stroke-width: .5px;
  opacity: 1;
  &.highlight {
    // opacity: 1;
    stroke-width:1px;
  }
  &:hover{
    // opacity: 1;
  }
  &.focus{
    stroke-width:3px;
  }
  text{
    opacity: 0;
    fill:black;
    stroke:none;
    font-weight: bold;
  }
}
.node text.show,
.node:hover text {
  opacity: 1;
}

.link {
  stroke: black;
  stroke-width: 1px;
  opacity:.2;
  &.highlight{
    opacity: .5;
    stroke-width:2px;
  }
 
}

.hidden {
    display: none
  }

.rounded-corners (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}




#tip{
  display: none;
  height:100%;
}

.notclickable{
  pointer-events:none;
}
#q{
  min-width: 10em;
  padding: 2px;
  margin: 0;
  font-size: 1em;
}

#nav{
  width:100%;
  position: fixed;
  background: #ddd;
  z-index: 100;
  border-bottom: #ccc solid 1px;
  padding: 5px 0;
  transition: opacity .2s;
  -webkit-transition: opacity .2s;  
  -moz-transition: opacity .2s; 
  &.fade{
    opacity: .5;
    .search{
      opacity: 0;
    }
    &:hover{
      opacity: 1;
      .search{
        opacity: 1;
      }
    }
  }
  .search{
    position: relative;
    width: @width;
    margin: 0 auto;
    transition: opacity .2s;
    -webkit-transition: opacity .2s;  
    -moz-transition: opacity .2s; 
  }  
}

.list-item{
  width: @item-width;
  position: absolute;
  padding: 1em;
  margin: 0;
  margin-bottom: 1em;
  margin-right: 1em;
  .rounded-corners;
  background: white;
  border:#ddd solid 1px;
  overflow: hidden;
  table{
    width: 100%;
    table-layout: fixed;
  }

  .item-image{
    background-color: #eee;
    max-width: @item-width;
  }
  .item-prop{
    font-weight: bold;
    a{
      font-size: .8em;
      margin: 0 1em 0 0;
    }
  }
  .item-detail{
    word-wrap:break-word;
    margin-top:0;
  }
}

.item-headline{
	max-width: @item-width;
	text-overflow: ellipsis;
	span{
		width: 100%;
		margin-right: .5em;
		padding-left: .5em;
		border-left: #0088ee 5px solid;
	}
}


.hide{
  display: none;
}

.services{
  list-style: none;
  padding: 0;
  li{
    margin: 1em 0;
  }
  input[type="checkbox"]{
    width: 1.5em;
    height: 1.5em;
    margin: 0;
  }
}

body.dark {
  .node{
    stroke:white;
  }
  svg text{
    fill:white;
  }
  .link{
    stroke: white;
  }
  #nav{
    background: black;
    border-color: #333;
  }
  .list-item{
    background: #222;
    border-color: #444;
  }
  .fullscreen{
    background: #222;
  }
  #automate-form{
  	background: rgba(0, 0, 0, 0.8);
  }
  .logo{
    background-image: url('/img/logo-dark.png');
  }
}
.fullscreen{
  position: fixed;
  z-index: 200;
  left: 0;right: 0;top: 0;bottom: 0;margin: 0;padding: 0;
  background: white;
  height: auto;
  .btn-toggle-fullscreen,.btn-automate{
  	margin-top: 0;
  	margin-left: 0;
  }
  svg{
	height: auto;
  }
}
body *{
    outline: none;
}
#automate-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 1em;
  margin:-1em 0 0 -1em;
  position: absolute;
  z-index: 13;
  width: 100%;
  height: 100%;
  display: none;
  outline: none;
}

svg {
	height: 200px;
}
iframe {
	border: none;
	width: 100%;
	height: 100%;
}
body.no-nav{
  #nav{
    display: none;
  }
}
.logo{
  position: absolute;
  z-index: 20;
  height: 2em;
  width: 10em;
  margin-left: 1em;
  background: url('/img/logo.png') no-repeat;
  background-size: contain;
}