@import '/css/main.css';

@import '/css/jquery.qtip.min.css';

@import '/css/jquery.gridster.min.css';
#wrapper {
  width: 1005px;
  margin: 0 auto;
  min-height: 80%;
  position: relative;
  top: 5em;
}
.doc_url {
  display: block;
  margin-bottom: 1em;
}
.button {
  padding: 0 .5em;
  border: #555555 solid 1px;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  margin: 0 0 0 1em;
  opacity: .8;
  outline: none;
}
.button:hover {
  opacity: 1;
}
.button.main {
  opacity: 1;
  color: white;
  background-color: #0088dd;
}
.button.main:hover {
  background-color: #0098f7;
  color: white;
}
.btn-small {
  position: absolute;
  z-index: 12;
  background: #0088dd;
  color: white;
  width: auto;
  height: 1.5em;
  border: none;
  text-align: center;
  cursor: pointer;
}
.btn-small:hover {
  background: #11a3ff;
}
.btn-toggle-fullscreen {
  z-index: 12;
  background: #0088dd;
  color: white;
  width: auto;
  height: 1.5em;
  border: none;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: auto;
}
.btn-toggle-fullscreen:hover {
  background: #11a3ff;
}
.btn-automate {
  z-index: 12;
  background: #0088dd;
  color: white;
  width: auto;
  height: 1.5em;
  border: none;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: auto;
  right: 1em;
}
.btn-automate:hover {
  background: #11a3ff;
}
#story-indicator {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5em;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  color: white;
}
.btn-next {
  position: absolute;
  display: none;
  z-index: 11;
  height: 100%;
  opacity: .3;
  color: #0088dd;
  background: none;
  width: 20;
  border: none;
  font-size: 2em;
  outline: none;
  right: 0;
}
.btn-next:hover {
  opacity: 1;
}
.btn-prev {
  position: absolute;
  display: none;
  z-index: 11;
  height: 100%;
  opacity: .3;
  color: #0088dd;
  background: none;
  width: 20;
  border: none;
  font-size: 2em;
  outline: none;
  left: 0;
}
.btn-prev:hover {
  opacity: 1;
}
.node {
  cursor: pointer;
  stroke: black;
  stroke-width: .5px;
  opacity: 1;
}
.node.highlight {
  stroke-width: 1px;
}
.node.focus {
  stroke-width: 3px;
}
.node text {
  opacity: 0;
  fill: black;
  stroke: none;
  font-weight: bold;
}
.node text.show,
.node:hover text {
  opacity: 1;
}
.link {
  stroke: black;
  stroke-width: 1px;
  opacity: .2;
}
.link.highlight {
  opacity: .5;
  stroke-width: 2px;
}
.hidden {
  display: none;
}
#tip {
  display: none;
  height: 100%;
}
.notclickable {
  pointer-events: none;
}
#q {
  min-width: 10em;
  padding: 2px;
  margin: 0;
  font-size: 1em;
}
#nav {
  width: 100%;
  position: fixed;
  background: #333;
  z-index: 100;
  border-bottom: solid 1px #444;
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.5);
  padding: 5px 0;
  transition: opacity .2s;
  -webkit-transition: opacity 0.2s, background-color 0.2s;
  -moz-transition: opacity 0.2s, background-color 0.2s;
}
#nav.fade {
  background-color: transparent;
  box-shadow: none;
  border-bottom: none;
}
#nav.fade .logo {
  background-image: url('/img/logo.png');
}
#nav.fade .search {
  opacity: 0;
}
#nav .search {
  position: relative;
  width: 80%;
  margin: 0 auto;
  transition: opacity .2s;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
}
#nav * {
  color: white;
}
#nav input[type=text] {
  color: black;
}
.list-item {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background: white;
  border: #ddd solid 1px;
  overflow: hidden;
}
.list-item table {
  width: 100%;
  table-layout: fixed;
}
.list-item .item-image {
  background-color: #eee;
  max-width: 400px;
  max-height: 5em;
}
.list-item .item-prop {
  font-weight: bold;
}
.list-item .item-prop a {
  font-size: .8em;
  margin: 0 1em 0 0;
}
.list-item .item-detail {
  word-wrap: break-word;
  margin-top: 0;
}
.item-headline {
  max-width: 400px;
  text-overflow: ellipsis;
}
.item-headline span {
  width: 100%;
  margin-right: .5em;
  padding-left: .5em;
  border-left: #0088dd 5px solid;
}
.hide {
  display: none;
}
.services {
  list-style: none;
  padding: 0;
}
.services li {
  margin: 1em 0;
}
.services input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin: 0;
}
body.dark {
  background: black;
  color: white;
}
body.dark a {
  color: white;
}
body.dark .button {
  color: white;
  border-color: #555;
}
body.dark .node {
  stroke: white;
}
body.dark svg text {
  fill: white;
}
body.dark .link {
  stroke: white;
}
body.dark #nav {
  border-color: black;
}
body.dark #nav.fade .logo {
  background-image: url('/img/logo-dark.png');
}
body.dark .list-item {
  background: #333;
  border-color: #444;
}
body.dark #fullscreen-container {
  background: #333;
}
body.dark #automate-form {
  background: rgba(0, 0, 0, 0.8);
}
body.dark .logo {
  background-image: url('/img/logo-dark.png');
}
body * {
  outline: none;
}
#automate-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 2em;
  position: absolute;
  z-index: 13;
  width: 100%;
  height: 100%;
  display: none;
}
svg {
  height: 200px;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}
body.no-nav #nav {
  display: none;
}
.logo {
  position: absolute;
  z-index: 20;
  height: 2em;
  width: 10em;
  margin-left: 1em;
  background: url('/img/logo-dark.png') no-repeat;
  background-size: contain;
}
.qtip {
  font-size: 1em;
}
.gs-w {
  background: white;
  list-style: none;
}
.gridster > div {
  margin: 0;
  padding: 0;
}
.inner {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 1em;
  bottom: 1em;
  overflow-x: hidden;
  overflow-y: visible;
}
#nest-container.inner {
  overflow-y: hidden;
}
#fullscreen-container {
  position: fixed;
  z-index: 200;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background: white;
  height: auto;
}
#fullscreen-container .btn-toggle-fullscreen,
#fullscreen-container .btn-automate {
  margin-top: 0;
  margin-left: 0;
}
#fullscreen-container svg {
  height: auto;
}
