.node {
  cursor: pointer;
  stroke: black;
  stroke-width: .5px;
  opacity: .2;
}

body.dark .node{
  stroke:white;
}

.node:hover{
  opacity: 1;
}
.node.highlight {
  opacity: 1;
  stroke-width:2px;
}

.node text{
  opacity: 0;
  fill:black;
  stroke:none;
  font-weight: bold;
}

body.dark svg text{
  fill:white;
}

.node text.show,
.node:hover text {
  opacity: 1;
}
.link {
  stroke: black;
  stroke-width: 1px;
  opacity:0.2;
}
body.dark .link{
  stroke: white;
}

.link.highlight{
  opacity: 1.0;
  stroke-width:2px;
}
#container{
  width: 100%;
  height: 100%;
}

#tip{
  margin-left: 6px;
  display: none
}
.notclickable{
  pointer-events:none;
}