<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
	<title>all models</title>
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/model.css">
	<script src="/static/js/jquery-2.0.2.min.js" charset="utf-8"></script>
	<script src="/static/js/d3.v3.js" charset="utf-8"></script>
	<script src="/static/js/fisheye.js" charset="utf-8"></script>
</head>
<body>
	<ul>
		$for x in l:
			<li><a href="/model/$x">$x</a></li> 
	</ul>
</body>
</html>



