<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
	<title>all models</title>
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/jquery-2.0.2.min.js" charset="utf-8"></script>
	<script src="/js/d3.v3.js" charset="utf-8"></script>
</head>
<body 
$if theme=="dark":
	class="dark"
>
	<ul>
		$for (x,quoted) in l:
			<li><a href="/model?id=$quoted&theme=$theme">$x</a></li> 
	</ul>
</body>
</html>



